# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/
build/

# Env — NIEMALS committen!
.env
.env.local
.env.production

# Prisma
prisma/migrations/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Editors
.vscode/
.idea/
